<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">coruja</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Coruja_GraoPara</property>
		<property name="hibernate.connection.username">CORUJA_teste</property>
		<!--<property name="hibernate.default_schema">Coruja_GraoPara</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- <property name="hibernate.search.default.directory_provider">filesystem</property> -->
		<!-- <property name="hibernate.search.default.indexBase">../lucene/indexes</property> -->
		<mapping class="persistence.model.Profile" />
		<mapping class="persistence.model.User" />
		<mapping class="persistence.model.IdNumDocumento" />
		<mapping class="persistence.model.Origem" />
		<mapping class="persistence.model.PalavraChave" />
		<mapping class="persistence.model.TipoDocumento" />
		<mapping class="persistence.model.Documento" />
	</session-factory>
</hibernate-configuration>
