@charset "utf-8";

/* Configuração da página em si, aplicado no index */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*background-color: 	#FFFFED;	*/ /*#4E5869;*/
	/* background-image: url('../../images/bg_principal.jpg'); */
	background: #f6f8f9; /* Old browsers */
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(left, #f6f8f9 0%, #e5ebee 15%, #e5ebee 85%, #f5f7f9
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6f8f9),
		color-stop(15%, #e5ebee), color-stop(85%, #e5ebee),
		color-stop(100%, #f5f7f9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f6f8f9 0%, #e5ebee 15%, #e5ebee 85%,
		#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f6f8f9 0%, #e5ebee 15%, #e5ebee 85%, #f5f7f9
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f6f8f9 0%, #e5ebee 15%, #e5ebee 85%, #f5f7f9
		100%); /* IE10+ */
	background: linear-gradient(to right, #f6f8f9 0%, #e5ebee 15%, #e5ebee 85%, #f5f7f9
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(      startColorstr='#f6f8f9',
		endColorstr='#f5f7f9', GradientType=1 ); /* IE6-9 */
	margin: 0;
	padding: 0;
	color: #000;
	/*text-align: center; */
}

/* ~~ Element/tag selectors ~~ */
ul,ol,dl {
	/* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-left: 80px;
	/* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	/* padding-right: 15px;
	padding-left: 15px; */
	/* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	/* text-align: -moz-center; */
	font-style: oblique;
    font-weight: lighter;
	color: #24346F;
}

h1 {
	font-size: larger;
}

h2 {
	text-align: center;
	font-size: larger;
	margin-top: 30px;
	margin-left: 0px;
}

hr{
	width: 50em;
}

p {
	text-align: justify;
	text-indent: 3em;
	/* text-align: left; */
	/* margin-left: 30px; */
}

.text {
	border: 1px none blue;
	padding-left:3em;
	padding-right:3em;
}

a img {
	/* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #24346F;
	text-decoration: underline;
	/* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:visited {
	color: #24346F;
	text-decoration: underline;
}

a:hover,a:active,a:focus {
	/* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #24346F;
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */

/* Originalmente as divs tinham layout líquido (porcentagem) mas falando com o Arlindo, foi decidido deixar mais estático */
.container {
	max-width: 1110px !important; /* valor anterior: 1024px */
	/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 1110px !important; /* valor anterior: 810px */
	background-color: #FFF !important;
	margin: 0 auto !important; 
	/* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	font-size: 100% !important;
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
/* Banner, dentro do código tem o espaço para colocar o logo */
.header {
	background-image: url("/GraoPara/images/header2.png");
	background-repeat: repeat-x;
	height: 185px;
}

/* Configuração dos campos de input para o painel de login*/
.inputLogin {
	background-color: #ffffff;
	/* Parametros para deixar a borda arredondada nos principais navegadores */
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	/* border-radius: .4em; */
	/* Parametros para deixar uma sombra, com um estilo bevel */
	-moz-box-shadow: 0 -1px 0 0px #000;
	-webkit-box-shadow: 0 -1px 0 0px #000;
	/* box-shadow: 0 -1px 0 0px #000; */
	border: 1px solid gray;
	width: 184px;
	height: 23px;
	margin-left: -5px;
	color: #000;
	padding: 0 0 0 5px;
	/* Se quiser mais espação entre os formularios, é aqui que você deve brincar, teste as 4 coordenadas */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	/* letter-spacing: 1px; */
	
}

.iconeAjuda {
	/* margin-top: 5px; */
	position: absolute;
	padding-left: 5px;
	padding-top: 3px;
}

.input:FOCUS, .inputLogin:FOCUS, .inputTipoNum:FOCUS, .inputShort:FOCUS, .inputDia:FOCUS, .inputAno:FOCUS,
.inputPalavraChave:FOCUS, .inputResumo:FOCUS, .inputEstado:FOCUS, .inputLong:FOCUS, 
.inputPass:FOCUS, .inputMes:FOCUS, .inputKey:FOCUS {
	border: 1px solid #4D90FE;
}

.input {
	background-color: #ffffff;
	/* Proximos três atributos definem a borda arredondada dos inputs, cada linha é para um tipo de navegador */
	/* Por algum motivo obscuro o Opera ainda está deixando os inputs retangulares, apesar de no input login ele aceitar o código de borda arredondada*/
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	/* Necessário quando o background da página em que o formulario estiver for branco */
	width: 403px; /* 270px; */
	height: 20px;
	margin: 5px 0;
	color: #000;
	padding: 0 0 0 2px;
	/* Atributo para dar espaço no texto inserido, especie de margin, mas do texto e não do campo em si */
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	/* font-style: italic; */
	letter-spacing: 1px;
}

.inputPass {
	background-color: #ffffff;
	/* Proximos três atributos definem a borda arredondada dos inputs, cada linha é para um tipo de navegador */
	/* Por algum motivo obscuro o Opera ainda está deixando os inputs retangulares, apesar de no input login ele aceitar o código de borda arredondada*/
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	/* Necessário quando o background da página em que o formulario estiver for branco */
	width: 230px; /* 270px; */
	height: 20px;
	margin: 5px 0;
	color: #000;
	padding: 0 0 0 2px;
	/* Atributo para dar espaço no texto inserido, especie de margin, mas do texto e não do campo em si */
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: small;
}

.inputTipoNum {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 337px; /* 140px; */
	height: 23px; /* 20px */
	margin: 5px 0;
	color: #000;
	/* padding: 0 0 0 10px; */
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: small; */
	font-style: italic;
	letter-spacing: 1px;
}

.inputShort {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 64px;
	height: 20px;
	margin: 5px 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center;
}

.inputDia {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 164px;
	height: 23px; /* 20px */
	margin: 5px 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: small; */
	font-style: italic;
	letter-spacing: 1px;
}

.inputMes {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 164px;
	height: 23px; /* 20px */
	margin: 5px 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: small; */
	font-style: italic;
	letter-spacing: 1px;
}

.inputAno {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 40px;
	height: 20px;
	margin: 5px 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	letter-spacing: 1px;	
	text-align: center;
}

.inputPalavraChave {
	background-color: #ffffff;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	/* border-radius: 0.4em; */
	border: 1px solid gray;
	width: 100px;
	height: 20px;
	margin: 5px 0;
	color: #000;
	padding: 0 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	letter-spacing: 1px;
}

.inputResumo {
	background-color: #ffffff;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	/* border-radius: .4em; */
	border: 1px solid gray;
	width: 400px;
	height: 250px;
	margin: 0px 0;
	color: #000;
	padding: 0 0 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	letter-spacing: 1px;
}

.inputEstado {
	background-color: #ffffff;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	/* border-radius: .4em; */
	border: 1px solid gray;
	width: 60px;
	height: 20px;
	margin: 0px 0;
	color: #000;
	padding: 0 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	letter-spacing: 1px;
}

.inputLong {
	background-color: #ffffff;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	/* border-radius: .4em; */
	border: 1px solid gray;
	width: 407px; /* 350px; */
	height: 23px;
	margin: 0px 0;
	color: #000;
	padding: 0 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: small; */
	font-style: italic;
	letter-spacing: 1px;
}

.inputKey {
	background-color: #ffffff;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	/* border-radius: .4em; */
	border: 1px solid gray;
	width: 133px;
	height: 23px; /* 20px */
	margin: 0px 0;
	color: #000;
	padding: 0 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: small; */
	font-style: italic;
	letter-spacing: 1px;
}

.keyInf {	
	border: 1px solid gray;
	width: 130px;
	height: 22px; /* 20px */
	margin: 0px 0;
	color: #000;
	padding: 0 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	letter-spacing: 1px;
}

/* Estilo do botão de entrar do painel de login, está sendo reaproveitado para vários outros botões */
.buttonEntrar,.buttonRegistrar,.buttonCancelar,.buttonLimpar,.buttonSair {
	width: 90px;
	/* height: 25px; */
	border: 1px solid #24346F;
	background: #033454; /* #24346F; */
	padding: 2px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0; */
	text-align: center;
	color: white;
	font-size: small;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
	cursor: pointer;
	/* float: inherit; */
	/* -webkit-box-shadow: 0 0px 1px rgba(255, 255, 255,);
	-moz-box-shadow: 0 0px 1px rgba(255, 255, 255); */
	/* box-shadow: 0 0px 1px rgba(255, 255, 255,); */
	/* margin-left: 2px; */
}

.buttonEntrar:hover,.buttonRegistrar:hover,.buttonCancelar:hover,.buttonLimpar:hover,.buttonSair:hover {
	border: 1px solid #3e779d;
    background: #3e779d;
    color: #ffffff;
   }

.buttonCancelar {
	margin-right: 80px;
}

.buttonSair {
	margin-left: 29px;
	/* width: 100px; */
}

.buttonDownload {
	margin-left: 22px;
	width: 150px;
}

.buttonLimpar {
	margin-right: 10px;
	margin-left: 0px;
}

.buttonShort {
	width: 90px;
	height: 24px;
	text-align: center;
	border: none;
	float: inherit;
	background: #6F7D94;
	background: -webkit-gradient(linear, left top);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 0px 1px rgba(255, 255, 255);
	-moz-box-shadow: 0 0px 1px rgba(255, 255, 255);
	box-shadow: 0 0px 1px rgba(255, 255, 255);
	color: #fff;
	cursor: pointer;
}

.scroll {
	height: 25em;
	overflow: auto;
}

.scrollLong {
	height: 55em;
	width: 709px; /* 859px; */
    /* border: 1px solid black; */
    margin-left: 78px;
	overflow: auto;
	font-size: small;
}


.legenda {
    font-size: small;
    margin-left: 78px;
    overflow: auto;
    width: 709px;
}

.buttonPesquisa {
	width: 185px;
	height: 24px;
	text-align: center;
	border: none;
	float: right;
	background: #6F7D94;
	background: -webkit-gradient(linear, left top);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 0px 1px rgba(255, 255, 255);
	-moz-box-shadow: 0 0px 1px rgba(255, 255, 255);
	box-shadow: 0 0px 1px rgba(255, 255, 255);
	color: #fff;
	cursor: pointer;
}

fieldset {
	padding: 0 0 0 0;
	margin: 10px;
	border: 0;
}

label {
	padding: 0 0 0 0;
}

/*Se eu não me engano, é a barra onde está os botões e o painelzinho de login */
.sidebar1 {
	float: left;
	width: 208px; /* Valor anterior: 180px; */
	height: 1300px; /* 1280px; */
	background-color: #033454; /* #24346F; */
	padding-bottom: 10px;
}

/* Div do conteúdo interno do site, onde as outras páginas estão sendo carregadas dentro */
.content {
	padding: 30px 10px 10px 20px;
	width: 600px;
	float: left;
	border: 1px none red;
}

.content2 {
	padding: 50px 0 800px 90px;
	float: left;
}

.contentListagem {
	padding: 10px;
	width: 700px;
	float: left;
	text-align: center;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul,.content ol {
	padding: 0 15px 15px 40px;
	/* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
    font-size: small;
    list-style: none outside none;
    border-top: 0px solid #24346F;
    margin-bottom: -1px;
    margin-top: -1px;
    
    /* Acrescentados posteriormente */
    width: 202px;
    margin-left: -1px;
}

ul.nav li {
    font-size: small;
    border-top: 1px dotted #24346F;
    right: auto;
}

.borderTop {
	font-size: small;
    list-style: none outside none;
    margin-bottom: -1px;
    margin-top: -4px
}

ul.nav a,ul.nav a:visited {
	/* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block;
	/* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background-color: #FFF;
	color: #24346F;
}

ul.nav a:hover,ul.nav a:active,ul.nav a:focus {
	/* this changes the background and text color for both mouse and keyboard navigators */
	background-color: #3e779d;
	color: #FFF;
}

.active {
	background-color: #FFF;
	color: #335EB8;
}

.sidebar {
	font-family: message-box;
	text-align: center;
	color: #24346F;
}

/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #033454; /* #24346F; */
	text-align: center;
	text-shadow: #000;
	position: relative; /* this gives IE6 hasLayout to properly clear */
	clear: both;
	/* this clear property forces the .container to understand where the columns end and contain them */
	color: #FFF;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
	/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}

.fltlft {
	/* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.clearfloat {
	/* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

.loginText {
	font-size: 80%;
}

/* Parametros para personalizar mais fácil o texto de descrição dos formulários, em alguns sites eles substituem o label por um texto dentro do input que é
apagado quando o usuário digitar algo dentro, para isso use o atributo placeholder="texto" dentro da tag do input no html */
.labelForms {
	font-size: small;
	/* font-weight: bold; */
	text-align: left;
}

.fieldDocInf {
	padding-bottom: 0px;
	padding-left: 0px;
	width: 120px;
	white-space: nowrap;
	/* border: 1px solid; */
	text-align: left;
}

.labelFormsSearch {
	font-size: small;
	text-align: left;
}

span.asterisco {
	font-size: 11px;
	text-align: left;
	color: red;
}

.labelExibe {
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.coluna {
	width: 120;
	height: 20;
}

.digitosTexts {
	font-size: 60%;
}

.tableForms {
	text-align: left;
	/* margin: 40px 0 0 0px; */
	margin-left: 78px; /* 100px; */
	width: 709px; /* 580px; */
	border-top: 1px solid;
}

.tableFormsKey {
	text-align: left;
	/* margin: 40px 0 0 0px; */
	margin-left: 78px; /* 100px; */
	width: 411px;
 	/* border: 1px solid; */
}

.tablePesquisa {
	text-align: left;
	margin: 40px 0 0 0px;
	width: 420px;
	border: 0px;
}

.tdForms {
	text-align: left;
	width: 100px; /* 130px; */
	border: 0px;
}


.tdPesquisa {
	text-align: left;
	width: 100px /* 200px; */
	border: 0px;
}

.tdMinilink {
	text-align: left;
	width: 400px;
	border: 0px;
	font-size: 11px;
}

.tdForms2 {
	text-align: left;
	width: 100px;
	border: 0px;
}

.tableEditar {
	text-align: left;
	margin: 40px 0 0 30px;
	width: 700px;
	border: 0px;
}

.tablePainel {
	font-size:small;
	text-align: center;
	width: 540px;
}

.tableList {
	border: 1px solid;
	text-align: center;
	width: 585px;
}

.tableResultList {
	border: 1px solid;
	text-align: center;
	width: 685px;
}

.tdResultCenterList{
	border: 1px solid;
	width: 320px;
}

.tableList,.trList,.tdList,.tableResultList,.tdResultCenterList {
	border-collapse: collapse;
	border: 1px solid;
}


/* Banner rules xD */
.banner {
	margin-bottom: 0px;
	width: 700px;
	height: 100px;
	display: block;
	background: transparent url('../../images/bannerCoruja.png') center top
		no-repeat;
	text-align: center;
}

.banner:hover {
	background-image: url('../../images/bannerMouseOver.png');
}

article.menuLateral section,article.menuLateral section h2 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*Menu com borda arredondada*/
.bordaBox {
	border: 0px solid;
	background: transparent;
	width: 200px; /* 174px; */
	padding: 3px 3px; /* 10px 3px; */
	 
}

.bordaBox .b1,.bordaBox .b2,.bordaBox .b3,.bordaBox .b4,.bordaBox .b1b,.bordaBox .b2b,.bordaBox .b3b,.bordaBox .b4b
	{
	display: block;
	overflow: hidden;
	font-size: 1px;
}

.bordaBox .b1,.bordaBox .b2,.bordaBox .b3,.bordaBox .b1b,.bordaBox .b2b,.bordaBox .b3b
	{
	height: 1px;
}

.bordaBox .b2,.bordaBox .b3,.bordaBox .b4 {
	background: #FFF;
	border-left: 1px solid #839AE6;
	border-right: 1px solid #839AE6;
}

.bordaBox .b1 {
	margin: 0 5px;
	background: #839AE6;
}

.bordaBox .b2 {
	margin: 0 3px;
	border-width: 0 2px;
}

.bordaBox .b3 {
	margin: 0 2px;
}

.bordaBox .b4 {
	height: 2px;
	margin: 0 1px;
}

.bordaBox .conteudo {
	font-size: small;
	padding: 1px;
	background: #FFF;
	/* display: block;
	border-left: 1px solid #839AE6;
	border-right: 1px solid #839AE6; */
	
	/* Acrescentado posteriormente */
	width: 200px;
}

.resultLabel{
	margin: 0;
}