/* reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, menu, form, fieldset, legend, figure, section, summary { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
button, fieldset, iframe, img { border: 0; }


html { font: 100% Arial, sans-serif; color: #000; }
body { padding: 50px; font-size: .75em; } /* tamanho da fonte: 12px */


  /* abas */
  .abas { width: 100%; /* <= ie7 */ margin-bottom: 40px; }

  /* html5 */
  .abas { width: 100%; /* <= ie7 */ }
  .abas details {}
  .abas details summary {}
  .abas details summary::-webkit-details-marker { display: none; } /* remove estilo do chrome */
  .abas details summary a { display: block; padding: 10px 20px; background-color: #f9f9f9; } /* estilo para o titulo da aba */
  .abas details.ativo summary {}
  .abas details.ativo summary a { background-color: #ccc; } /* estilo para o titulo da aba ATIVA */
  .abas details aside { padding: 20px; border: 1px solid #ccc; } /* conteudo */

  /* xhtml */
  .abas li { list-style: none; }
  .abas li h4 { font-weight: normal; font-size: 1em; }
  .abas li h4 a { display: block; padding: 10px 20px; background-color: #f9f9f9; }
  .abas li.ativo h4 a { background-color: #ccc; }
  .abas li div.detalhes { padding: 20px; border: 1px solid #ccc; }

  /* no js */
  .no-js .abas > details,
  .no-js .abas > li { margin-bottom: 10px; }